<div id="content" class="text-center">
        <div>
                <h1 class="font-bold text-md text-green-600 uppercase p-2 tracking-wider">TOTAL PRICE</h1>
        </div>
        <div>
               $ <input class="inline mx-auto border p-1 border-gray-400 rounded-lg" type="text" required [(ngModel)]="totalPrice">
        </div>
        <div class="pt-6"> 
                <a [routerLink]="['results']" [queryParams]="{q: totalPrice}">
                        <button 
                        [disabled]="!totalPrice" 
                        class="optional bg-green-500 text-white font-bold py-4 px-4 rounded-full" >
                                GO
                        </button>
                </a>
        </div>
</div>