<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * Placeholder Content* * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="flex flex-col h-screen justify-between">
    <div id="heading" class="h-10 bg-green-600 text-center text-white font-bold">
        Radius Rent Calculator
    </div>
    <div><router-outlet></router-outlet></div>
    <app-results></app-results>
    <div id="footer">
        <div class="h-6 bg-green-100"></div>
        <div class="h-6 bg-green-300"></div>
        <div class="h-6 bg-green-400"></div>
        <div class="h-6 bg-green-600"></div>
        <div class="h-6 bg-green-800"></div>
    </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

