<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * Placeholder Content* * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class=" h-screen flex flex-col h-screen justify-between">
    <div id="heading" class="bg-green-600 p-4 text-center text-white font-bold">
        <img src="../assets/logo.png" class="w-6 mx-auto inline"> 
        Radius Rent Calculator
    </div>
    <div><router-outlet></router-outlet></div>
    <div id="footer">
        <div class="h-6 bg-green-100"></div>
        <div class="h-6 bg-green-300"></div>
        <div class="h-6 bg-green-400"></div>
        <div class="h-6 bg-green-600"></div>
        <div class="h-6 bg-green-800"></div>
    </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

